.home {
  position: relative;
}

.main {
  max-width: 1515.56px;
  margin-inline: auto;
}

@media (min-width: 750px) {
  .main {
    padding-inline: 1rem;
  }
}

@media (min-width: 1000px) {
  .main {
    height: calc(100vh - 10vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.home__title {
  padding-block: 1rem 2rem;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
